// USER DASHBOARD //

doctype html
html
    head
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css'
            integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb'
            crossorigin='anonymous')
    body
        div(class='container')
            h1 calerts
            div(class='d-inline-block')
                p(class='d-sm-inline-block m-2')
                    span Current:
                    |
                    |
                    span $
                    span#current-price
                p(class='d-sm-inline-block m-2')
                    span 200DMA:
                    |
                    |
                    span $
                    span#200dma
                p(class='d-sm-inline-block m-2')
                    span Mayer Multiple:
                    |
                    |
                    span#mayer-multiple

            p#socket-status(class='badge badge-danger') Socket status

            if user !== undefined
                p You are logged in as
                    |
                    |
                    span= user
                ul
                    each pair in settings.currencyPairs
                        li= pair.name
                            ul
                                each time in pair.updateTimes
                                    li
                                        span= time.hour
                                        |
                                        span :
                                        |
                                        span= time.minute

                button(id='save-settings-btn') Do session thing
                button(id='logout-btn') Logout

            else
                form(class="form-inline")
                    input(type="email" id='email' required='required' class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder='email address')
                    input(type="password" id='password' required='required' class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder='password')
                    button(id='signup-btn' class="btn btn-primary") Sign Up

                p
                    a(href='/calerts/login') or Login

        script(src='https://code.jquery.com/jquery-3.2.1.min.js'
                crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js'
                integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
                crossorigin="anonymous")
        script("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
                crossorigin="anonymous")
        script(src='/scripts/dash.js')